<h1>Aplicação Angular Legado (v13)</h1>
<p>Username: {{ username }}</p>
<div style="display: flex; gap: 50px">
  <div
    routerLink="nav1"
    style="
      border-radius: 10px;
      background-color: #cccccc;
      border: 1px groove;
      padding: 30px;
      cursor: pointer;
    "
  >
    Página 1
  </div>
  <div
    routerLink="nav2"
    style="
      border-radius: 10px;
      background-color: #cccccc;
      border: 1px groove;
      padding: 30px;
      cursor: pointer;
    "
  >
    Página 2
  </div>
</div>
<router-outlet></router-outlet>
